html {
    font-size: 10px;
}
/* 
body {
    background-color: blue;
} */

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-style: oblique;
    font-size: 3.5rem;
}

button {
    padding: 5px 9px;
    background-color: rgb(92, 0, 128);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 15px;
    border: 
    none;
}

.container {
    margin-left:  15%;
    display: flex;
    width: 70%;
    padding: 0 0 0 1%;
    justify-content: center;
}

.buffer {
    margin: 50px 0 25px;
}

/* .flex { 
    display: flex;
    border: 1px solid green;
    background-color: rgb(0, 255, 170);
} */