* {
    padding: 0;
    margin: 0;
}

body {
    background: white;
}

html {
    font-size: 10px;
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-style: oblique;
    font-size: 3.5rem;
}

button {
    padding: 5px 9px;
    background-color: rgb(92, 0, 128);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin: 15px;
    border: 
    none;
}

.container {
    margin-left:  15%;
    display: flex;
    width: 70%;
    padding: 0 0 0 1%;
    justify-content: center;
}

.buffer {
    margin: 5rem 0 2.5rem;
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    /* html {
        font-size: 8px;
    } */
    .container {
        margin-left:  0;
        padding-left: 0;
        width: 100%;
    }
}


@media screen and (max-width: 400px) {
    html {
        font-size: 9px;
    }
}

