<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Picture Puzzles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script type="text/javascript" src="http://livejs.com/live.js"></script> -->

    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/photo.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/refArea.css" />
    
</head>
<body>
    <div class="Nav_bg">
        <h1>Pick a Puzzle</h1>
        <span id="timer"> <span id="minutes">00</span>:<span id="seconds">00</span></span>
    </div>

   <div class="container Nav_drop">
        <button onclick='setPuzzle("pikachu.png")' id='pikachu'>PIKACHU</button>
        <button onclick='setPuzzle("flower.jpg")' id='flower'>FLOWER</button>
        <button onclick='setPuzzle("coral.jpg")' id='coral'>CORAL</button>
        <button onclick='setPuzzle("clownfish.jpg")' id='clownFish'>CLOWN FISH</button>
        <button onclick='setPuzzle("castle.jpg")' id='castle'>CASTLE</button>

   </div>
   <div class="buffer">
        <div class="container">
            <div id='Puzzle' class="Puzzle_choices"></div> 
        </div>
   </div>
   
    
   <div class="container">
        <button onclick="checkForWin()">HOW DID I DO ?!?</button>
        <button onclick="showRef(img)">TOGGLE REFERENCE</button>
   </div>

   <div id="image-ref-div"></div>

   <div id="results"></div>
    

    <script src="assets/js/app.js"></script>
</body>
</html>