<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Picture Puzzles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://livejs.com/live.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/photo.css" />
    
</head>
<body>
    You create it !!!
    <h1>heres it at</h1>

    <div class="Puzzle">
        <img id="Puzzle_img-js" class="Puzzle_img" src="./assets/img/pikachu.png" alt="#$">
    </div>

    <button onclick="sliceItUp()">Click to console log ??</button>
    
    <script src="assets/js/api.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>